
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post">
    <label>Elige tu destino:</label>
    <input class="form-control" type="text" id="ciudad" name="ciudad"/>
    <button type="submit" class="btn-success">Buscar</button>
</form>



