
@{
    ViewBag.Title = "NewUser";
}

<h2>Registro</h2>

<form method="post">
    <fieldset>
        <label>Nombre:</label>
        <input name="nombreUs" class="form-control" />
        <label>NickName:</label>
        <input name="nickName" class="form-control" />
        <label>Email:</label>
        <input name="email" class="form-control" />
        <label>Password:</label>
        <input name="pass" class="form-control" />        
    </fieldset>
    <button type="submit" class="btn-success">Registrarse</button>
</form>

